<div class="card__produto__quantidade">
    <h2 class="card__produto__titulo">Quantidade de Produtos</h2>
    <p class="card__produto__texto">{{ product_metrics.total_quantity }}</p>
</div>
<div class="card__produto__custo">
    <h2 class="card__produto__titulo">Custo de Estoque</h2>
    <p class="card__produto__texto">R$ {{ product_metrics.total_cost_price }}</p>
</div>
<div class="card__produto__valor">
    <h2 class="card__produto__titulo">Valor de Estoque</h2>
    <p class="card__produto__texto">R$ {{ product_metrics.total_selling_price }}</p>
</div>
<div class="card__produto__lucro">
    <h2 class="card__produto__titulo">Lucro de Estoque</h2>
    <p class="card__produto__texto">R$ {{ product_metrics.total_profit }}</p>
</div>