dj-database-url==2.2.0
Django==4.2.13
django-crispy-forms==2.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
docutils==0.20.1
et-xmlfile==1.1.0
flake8==7.0.0
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
html5lib==1.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
PyAutoGUI==0.9.54
pycparser==2.22
pyflakes==3.2.0
PyGetWindow==0.0.9
pyHanko==0.25.0
pywhatkit==5.4
pywin32-ctypes==0.2.2
PyYAML==6.0.1
readme_renderer==43.0
reportlab==4.2.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
sqlparse==0.5.0
svglib==1.5.1
Unipath==1.1
uritools==4.0.3
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==3.0.3
xhtml2pdf==0.2.16
XlsxWriter==3.2.0
psycopg2-binary
